<!DOCTYPE html>
<html>
  <head>
    <title>FirstApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', media: 'all' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-inverse bg-warning">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <%= link_to 'Link a Página1', pages_one_path %>
          </li>
          <li class="nav-item active">
            <%= link_to 'Link a Página2', pages_two_path %>
          </li>
          <li class="nav-item">
            <%= link_to 'Link a Página3', pages_three_path %>
          </li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
